<div class="container">
  <app-column
    icon="assets/icons/home.png"
    [color]="'#61e4d5'"
    [isActive]="isHomeActive"
    (click)="revealHome()"
  ></app-column>

  <app-column
    icon="assets/icons/about.png"
    [color]="'#57d5e0'"
    [isActive]="isAboutActive"
    (click)="revealAbout()"
  ></app-column>

  <app-column
    icon="assets/icons/skills.png"
    [color]="'#4dc5ea'"
    [isActive]="isSkillsActive"
    (click)="revealSkills()"
  ></app-column>

  <app-column
    icon="assets/icons/projects.png"
    [color]="'#43b5f5'"
    [isActive]="isProjectsActive"
    (click)="revealProjects()"
  ></app-column>

  <app-column
    icon="assets/icons/contact.png"
    [color]="'#38a5ff'"
    [isActive]="isContactActive"
    (click)="revealContact()"
  ></app-column>
  <app-content [activeColumn]="activeColumn"></app-content>
  <router-outlet></router-outlet>
</div>
