$home-color: #61e4d5;
$about-color: #57d5e0;
$skills-color: #4dc5ea;
$projects-color: #43b5f5;
$contact-color: #38a5ff;

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.column {
  height: 100%;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  cursor: pointer;
}

.home {
  background-color: $home-color;
}
.about {
  background-color: $about-color;
}
.skills {
  background-color: $skills-color;
}
.projects {
  background-color: $projects-color;
}
.contact {
  background-color: $contact-color;
}

.home,
.about,
.skills,
.projects,
.contact {
  margin-right: 0;
}
.active {
  margin-right: 75vw;
}
