<main class="container">
  <app-content [pagePosition]="pageName"></app-content>
  <app-columns
    [icon]="'assets/icons/home.png'"
    [color]="colorHome"
    [isActive]="isHomeActive"
    (click)="revealHome()"
  ></app-columns>

  <app-columns
    [icon]="'assets/icons/about.png'"
    [color]="colorAbout"
    [isActive]="isAboutActive"
    (click)="revealAbout()"
  ></app-columns>

  <app-columns
    [icon]="'assets/icons/skills.png'"
    [color]="colorSkills"
    [isActive]="isSkillsActive"
    (click)="revealSkills()"
  ></app-columns>

  <app-columns
    [icon]="'assets/icons/projects.png'"
    [color]="colorProjects"
    [isActive]="isProjectsActive"
    (click)="revealProjects()"
  ></app-columns>

  <app-columns
    [icon]="'assets/icons/contact.png'"
    [color]="colorContact"
    [isActive]="isContactActive"
    (click)="revealContact()"
  ></app-columns>
</main>
<router-outlet />
